:root {
  --font: 'Roboto', system-ui, sans-serif;
  --max-width: 1040px;
  --o-padding: 1rem;
  --i-padding: 0.6rem;
  --c-text: #252525;
  --c-body-bg: #fefefe;
  --c-page-bg: #f2f5f7;
  --c-border: #dfe3e7;
  --c-primary: #ff9800;
  --c-overlay: #9e9e9e7d;
  --c-glass: #eaedf0cc;
  --c-card-text: #8b939c;
  --box-shadow: 0px 6px 18px -4px #0004;
  --radius: 4px;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: var(--font);
  color: var(--c-text);
  background: var(--c-page-bg);
  min-height: 100vh;
}
.container {
  max-width: var(--max-width);
  width: 100%;
  padding: 0 var(--o-padding);
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 1rem;
}
.gap-lg {
  gap: 2rem;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
button {
  cursor: pointer;
}
.relative {
  position: relative;
}
.pe-none {
  pointer-events: none;
}
.user-select-none {
  user-select: none;
}
.w100 {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.success,
.error {
  max-width: 240px;
  width: 100%;
  font-size: 80%;
  border-radius: 2px;
  padding: var(--i-padding);
}
.error {
  border: solid 1px #f44336;
  color: #f44336;
  background: #ffebee;
}
.success {
  border: solid 1px #4caf50;
  color: #4caf50;
  background: #e8f5e9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c-overlay);
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
  z-index: 10;
}

#masthead {
  border-bottom: solid 1px var(--c-border);
  background: var(--c-glass);
  backdrop-filter: blur(16px);
  position: sticky;
  top: 0;
  z-index: 9;
}
#masthead .logo {
  margin: var(--i-padding) 0;
}
#profile .details {
  font-size: 80%;
  align-items: end;
}
#profile .details .logout {
  background: none;
  border: none;
  display: inline-block;
  margin-left: auto;
  padding: 0;
  color: #999;
}
#profile img {
  width: 100%;
  max-width: 42px;
}

#modal {
  background: var(--c-body-bg);
  padding: 2rem;
  min-width: 304px;
  max-width: 304px;
  min-height: 240px;
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow);
  border-bottom: solid 3px var(--c-border);
  border-radius: var(--radius);
  z-index: 11;
}
#modal .header {
  min-width: 240px;
  text-align: left;
  margin-bottom: 4px;
}
#modal .header * {
  margin: 0;
}
#modal button,
#add form button {
  width: 100%;
  border: none;
  background: var(--c-primary);
  padding: var(--i-padding);
  border-radius: 2px;
  font-weight: 600;
  color: var(--c-text);
  border: solid 1px transparent;
}
#modal.delete .confirm {
  background: var(--c-body-bg);
  border: solid 1px var(--c-border);
}
#modal .notice {
  font-size: 80%;
  justify-self: end;
}
#modal .notice a {
  color: var(--c-primary);
  cursor: pointer;
}
.inputWrapper input {
  min-width: 240px;
  border: solid 1px var(--c-border);
  border-radius: 2px;
  padding: var(--i-padding);
  cursor: text;
  outline: 0;
  touch-action: none;
}
.inputWrapper input:focus {
  border: solid 2px var(--c-primary);
}
.inputWrapper label {
  cursor: text;
  padding: 4px 6px;
  color: var(--c-border);
  position: absolute;
  left: 4px;
  top: 7px;
  user-select: none;
  transform-origin: left;
  transform: scale(1);
  transition: all 0.2s ease;
}
.inputWrapper input:focus + label,
.inputWrapper input:valid + label {
  background: var(--c-body-bg);
  top: -14px;
  left: 8px;
  transform: scale(0.8);
}
.inputWrapper input:focus + label {
  color: var(--c-primary);
}
.checkboxWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--i-padding);
  border: solid 1px var(--c-border);
  border-radius: 2px;
  color: var(--c-border);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}
.checkboxWrapper .check {
  width: 18px;
  height: 18px;
  background: var(--c-border);
  border-radius: 2px;
  position: relative;
  transition: all 0.2s ease;
}
.checkboxWrapper .check::before {
  content: '\2713';
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-text);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
#read:checked + .checkboxWrapper {
  color: var(--c-text);
}
#read:checked + .checkboxWrapper .check {
  background: var(--c-primary);
}
#read:checked + .checkboxWrapper .check::before {
  opacity: 1;
  visibility: visible;
}

/*
 * Buttons
 */
.btn {
  border: unset;
  background: unset;
  padding: 8px var(--o-padding);
  border-radius: var(--radius);
  font-weight: 500;
  border: solid 1px transparent;
}
.btn.primary {
  background: var(--c-body-bg);
}
.btn.secondary {
  color: var(--c-text);
  background: var(--c-primary);
}
.btn.bordered {
  border: solid 1px var(--c-border);
}

/*
 * Add New Book
 */
#add {
  position: fixed;
  bottom: 4rem;
  width: 100%;
  transition: all 0.6s ease;
  pointer-events: none;
}
#add.center {
  bottom: calc(50% - 172px);
}
.addWrapper {
  pointer-events: auto;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80px;
  height: 100%;
  max-height: 80px;
  margin-left: auto;
  background: var(--c-body-bg);
  box-shadow: var(--box-shadow);
  border-bottom: solid 3px var(--c-border);
  border-radius: 50%;
  transition: all 0.3s ease, max-width 0.6s ease, max-height 0.6s ease;
}
.center .addWrapper {
  right: calc(50% - 152px);
  max-width: 304px;
  max-height: 400px;
  border-radius: var(--radius);
  padding: 2rem;
}
.addWrapper h2 {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 0px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.center .addWrapper h2 {
  opacity: 1;
  visibility: visible;
  max-width: 160px;
  max-height: 28px;
}
.addWrapper .btnWrapper {
  width: 100%;
  max-width: 80px;
}
.center .addWrapper .btnWrapper {
  max-width: 240px;
  max-height: 28px;
}
.addWrapper .btn {
  overflow: hidden;
  padding: 0 0 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 4.5rem;
  font-weight: 400;
  opacity: 1;
  visibility: visible;
  transition: all 1.4s ease, width 0s, height 0s, font-weight 0s;
}
.center .addWrapper .btn {
  transform: translateX(18px) rotate(1395deg) scale(0.5);
  width: 54px;
  height: 54px;
  font-weight: 300;
}
.addWrapper .formWrapper {
  margin-top: var(--o-padding);
  overflow: hidden;
  height: 100%;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.center .addWrapper .formWrapper {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: 280px;
}

/*
 * Books Container
 */
#reminder {
  padding: var(--o-padding);
  border-radius: var(--radius);
  border: solid 1px var(--c-border);
  background: var(--c-glass);
  color: #858585;
}
#reminder h2 {
  font-size: 130%;
  margin: 0 0 1rem;
}
#reminder .bullet {
  margin-top: var(--i-padding);
  border-bottom: solid 1px var(--c-border);
  padding-bottom: 0.5rem;
}
#reminder .bullet:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
#reminder .bullet .q {
  font-weight: 600;
}
#reminder .bullet .a {
  color: var(--c-card-text);
}
#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 2.6rem 2rem;
  gap: 2.6rem 2rem;
  margin: 4rem 0;
}
.bookcard {
  margin-top: 20px;
  background: var(--c-body-bg);
  height: 270px;
  box-shadow: -1px 3px 8px -1px #0000001a;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 20px;
}
.bookcard.read {
  background: linear-gradient(40deg, var(--c-body-bg) 75%, #4caf509c 150%);
}
.bookcard.notread {
  background: linear-gradient(40deg, var(--c-body-bg) 75%, #ff57229c 150%);
}
.bookcard .contentWrapper {
  display: flex;
  border-bottom: 1px solid var(--c-border);
  position: relative;
}
.bookcard .contentWrapper img {
  width: 128px;
  height: 190px;
  margin-top: -18px;
  border-radius: 2px;
  box-shadow: 0px 1px 7px 2px #c7c9d3;
  border-bottom: 1px solid #dcddde;
  object-fit: cover;
  margin-bottom: 22px;
  transition: 0.3s ease;
}
.bookcard .contentWrapper .cardContent {
  min-height: 194px;
  padding: 30px;
  overflow: hidden;
  position: relative;
}
.bookcard .contentWrapper .cardContent .title {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bookcard .contentWrapper .cardContent .desc {
  font-size: 13px;
  color: var(--c-card-text);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.6em;
  -webkit-line-clamp: 4;
  margin-top: 15px;
}
.bookcard .more {
  color: var(--c-card-text);
  font-size: 13px;
  margin: 10px 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
